@use '@angular/material' as mat;
@include mat.core();

$marcura-frontend-test-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($marcura-frontend-test-theme);
}

html, body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  user-select: none;
  background-color: rgb(216, 216, 216);
}
